In [265]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [266]:
data=pd.read_csv('CarPrice_Assignment.csv')

In [305]:
data.describe()

,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [307]:
data.isnull().sum(axis=1)

0      0
1      0
2      0
3      0
4      0
      ..
200    0
201    0
202    0
203    0
204    0
Length: 205, dtype: int64

In [308]:
cat_col=(data.select_dtypes(include=['object']).columns)

In [309]:
type(cat_col)

pandas.core.indexes.base.Index

In [310]:
cat_col

Index(['fueltype', 'aspiration', 'doornumber', 'carbody', 'drivewheel',
       'enginelocation', 'enginetype', 'cylindernumber', 'fuelsystem'],
      dtype='object')

In [272]:
for col in cat_col:
    unique_values=data[col].nunique()
    print(data[col].value_counts())
    print(f"Column '{col}'has {unique_values} unique value ")

toyota corona           6
toyota corolla          6
peugeot 504             6
subaru dl               4
mitsubishi mirage g4    3
                       ..
mazda glc 4             1
mazda rx2 coupe         1
maxda glc deluxe        1
maxda rx3               1
volvo 246               1
Name: CarName, Length: 147, dtype: int64
Column 'CarName'has 147 unique value
gas       185
diesel     20
Name: fueltype, dtype: int64
Column 'fueltype'has 2 unique value
std      168
turbo     37
Name: aspiration, dtype: int64
Column 'aspiration'has 2 unique value
four    115
two      90
Name: doornumber, dtype: int64
Column 'doornumber'has 2 unique value
sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: carbody, dtype: int64
Column 'carbody'has 5 unique value
fwd    120
rwd     76
4wd      9
Name: drivewheel, dtype: int64
Column 'drivewheel'has 3 unique value
front    202
rear       3
Name: enginelocation, dtype: int64
Column 'enginelocation'has 2 unique value
ohc      148
ohcf      15
ohcv      13
dohc      12
l         12
rotor      4
dohcv      1
Name: enginetype, dtype: int64
Column 'enginetype'has 7 unique value
four      159
six        24
five       11
eight       5
two         4
three       1
twelve      1
Name: cylindernumber, dtype: int64
Column 'cylindernumber'has 7 unique value
mpfi    94
2bbl    66
idi     20
1bbl    11
spdi     9
4bbl     3
mfi      1
spfi     1
Name: fuelsystem, dtype: int64
Column 'fuelsystem'has 8 unique value

In [273]:
#removing the column CarName

data=data.drop("CarName",axis=1)


print(data)

     car_ID  symboling fueltype aspiration doornumber      carbody drivewheel  \
0         1          3      gas        std        two  convertible        rwd
1         2          3      gas        std        two  convertible        rwd
2         3          1      gas        std        two    hatchback        rwd
3         4          2      gas        std       four        sedan        fwd
4         5          2      gas        std       four        sedan        4wd
..      ...        ...      ...        ...        ...          ...        ...
200     201         -1      gas        std       four        sedan        rwd
201     202         -1      gas      turbo       four        sedan        rwd
202     203         -1      gas        std       four        sedan        rwd
203     204         -1   diesel      turbo       four        sedan        rwd
204     205         -1      gas      turbo       four        sedan        rwd

    enginelocation  wheelbase  carlength  ...  enginesize  fuelsystem  \
0            front       88.6      168.8  ...         130        mpfi
1            front       88.6      168.8  ...         130        mpfi
2            front       94.5      171.2  ...         152        mpfi
3            front       99.8      176.6  ...         109        mpfi
4            front       99.4      176.6  ...         136        mpfi
..             ...        ...        ...  ...         ...         ...
200          front      109.1      188.8  ...         141        mpfi
201          front      109.1      188.8  ...         141        mpfi
202          front      109.1      188.8  ...         173        mpfi
203          front      109.1      188.8  ...         145         idi
204          front      109.1      188.8  ...         141        mpfi

     boreratio stroke compressionratio  horsepower peakrpm  citympg  \
0         3.47   2.68              9.0         111    5000       21
1         3.47   2.68              9.0         111    5000       21
2         2.68   3.47              9.0         154    5000       19
3         3.19   3.40             10.0         102    5500       24
4         3.19   3.40              8.0         115    5500       18
..         ...    ...              ...         ...     ...      ...
200       3.78   3.15              9.5         114    5400       23
201       3.78   3.15              8.7         160    5300       19
202       3.58   2.87              8.8         134    5500       18
203       3.01   3.40             23.0         106    4800       26
204       3.78   3.15              9.5         114    5400       19

     highwaympg    price
0            27  13495.0
1            27  16500.0
2            26  16500.0
3            30  13950.0
4            22  17450.0
..          ...      ...
200          28  16845.0
201          25  19045.0
202          23  21485.0
203          27  22470.0
204          25  22625.0

[205 rows x 25 columns]

In [274]:
data.columns

Index(['car_ID', 'symboling', 'fueltype', 'aspiration', 'doornumber',
       'carbody', 'drivewheel', 'enginelocation', 'wheelbase', 'carlength',
       'carwidth', 'carheight', 'curbweight', 'enginetype', 'cylindernumber',
       'enginesize', 'fuelsystem', 'boreratio', 'stroke', 'compressionratio',
       'horsepower', 'peakrpm', 'citympg', 'highwaympg', 'price'],
      dtype='object')

In [275]:
data.count()

car_ID              205
symboling           205
fueltype            205
aspiration          205
doornumber          205
carbody             205
drivewheel          205
enginelocation      205
wheelbase           205
carlength           205
carwidth            205
carheight           205
curbweight          205
enginetype          205
cylindernumber      205
enginesize          205
fuelsystem          205
boreratio           205
stroke              205
compressionratio    205
horsepower          205
peakrpm             205
citympg             205
highwaympg          205
price               205
dtype: int64

In [276]:
cat_col

Index(['CarName', 'fueltype', 'aspiration', 'doornumber', 'carbody',
       'drivewheel', 'enginelocation', 'enginetype', 'cylindernumber',
       'fuelsystem'],
      dtype='object')

In [277]:
cat_col

Index(['CarName', 'fueltype', 'aspiration', 'doornumber', 'carbody',
       'drivewheel', 'enginelocation', 'enginetype', 'cylindernumber',
       'fuelsystem'],
      dtype='object')

In [278]:
# remove row with value count 1

for col in cat_col:
    value_counts=data[col].value_counts()
    remove_indices=value_counts[value_counts==1].index
    data=data[~data[col].isin(remove_indices)]

KeyError: 'CarName'

In [279]:
data

,car_ID,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,gas,std,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,gas,std,four,sedan,rwd,front,109.1,188.8,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [280]:
data.count()

car_ID              205
symboling           205
fueltype            205
aspiration          205
doornumber          205
carbody             205
drivewheel          205
enginelocation      205
wheelbase           205
carlength           205
carwidth            205
carheight           205
curbweight          205
enginetype          205
cylindernumber      205
enginesize          205
fuelsystem          205
boreratio           205
stroke              205
compressionratio    205
horsepower          205
peakrpm             205
citympg             205
highwaympg          205
price               205
dtype: int64

In [311]:
for col in cat_col:
    unique_values=data[col].nunique()
    print(data[col].value_counts())
    print(f"Column '{col}'has {unique_values} unique value ")

gas       185
diesel     20
Name: fueltype, dtype: int64
Column 'fueltype'has 2 unique value
std      168
turbo     37
Name: aspiration, dtype: int64
Column 'aspiration'has 2 unique value
four    115
two      90
Name: doornumber, dtype: int64
Column 'doornumber'has 2 unique value
sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: carbody, dtype: int64
Column 'carbody'has 5 unique value
fwd    120
rwd     76
4wd      9
Name: drivewheel, dtype: int64
Column 'drivewheel'has 3 unique value
front    202
rear       3
Name: enginelocation, dtype: int64
Column 'enginelocation'has 2 unique value
ohc      148
ohcf      15
ohcv      13
dohc      12
l         12
rotor      4
dohcv      1
Name: enginetype, dtype: int64
Column 'enginetype'has 7 unique value
four      159
six        24
five       11
eight       5
two         4
three       1
twelve      1
Name: cylindernumber, dtype: int64
Column 'cylindernumber'has 7 unique value
mpfi    94
2bbl    66
idi     20
1bbl    11
spdi     9
4bbl     3
mfi      1
spfi     1
Name: fuelsystem, dtype: int64
Column 'fuelsystem'has 8 unique value

In [312]:
print(data.columns)

Index(['fueltype', 'aspiration', 'doornumber', 'carbody', 'drivewheel',
       'enginelocation', 'wheelbase', 'carlength', 'carwidth', 'carheight',
       'curbweight', 'enginetype', 'cylindernumber', 'enginesize',
       'fuelsystem', 'boreratio', 'stroke', 'compressionratio', 'horsepower',
       'peakrpm', 'citympg', 'highwaympg', 'price'],
      dtype='object')

In [313]:
data=data.drop("car_ID",axis=1)

KeyError: "['car_ID'] not found in axis"

In [314]:
data=data.drop("symboling",axis=1)

KeyError: "['symboling'] not found in axis"

In [315]:
data

,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,55.5,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8,55.5,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,55.5,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9,55.5,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9,55.5,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [317]:
cat_col

Index(['fueltype', 'aspiration', 'doornumber', 'carbody', 'drivewheel',
       'enginelocation', 'enginetype', 'cylindernumber', 'fuelsystem'],
      dtype='object')

In [318]:
for col in cat_col:
    unique_values=data[col].nunique()
    print(data[col].value_counts())
    print(f"Column '{col}'has {unique_values} unique value ")

gas       185
diesel     20
Name: fueltype, dtype: int64
Column 'fueltype'has 2 unique value
std      168
turbo     37
Name: aspiration, dtype: int64
Column 'aspiration'has 2 unique value
four    115
two      90
Name: doornumber, dtype: int64
Column 'doornumber'has 2 unique value
sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: carbody, dtype: int64
Column 'carbody'has 5 unique value
fwd    120
rwd     76
4wd      9
Name: drivewheel, dtype: int64
Column 'drivewheel'has 3 unique value
front    202
rear       3
Name: enginelocation, dtype: int64
Column 'enginelocation'has 2 unique value
ohc      148
ohcf      15
ohcv      13
dohc      12
l         12
rotor      4
dohcv      1
Name: enginetype, dtype: int64
Column 'enginetype'has 7 unique value
four      159
six        24
five       11
eight       5
two         4
three       1
twelve      1
Name: cylindernumber, dtype: int64
Column 'cylindernumber'has 7 unique value
mpfi    94
2bbl    66
idi     20
1bbl    11
spdi     9
4bbl     3
mfi      1
spfi     1
Name: fuelsystem, dtype: int64
Column 'fuelsystem'has 8 unique value

In [ ]:
data=pd.get_dummies(data,columns=cat_col)

In [ ]:
data

In [ ]:
#data visualise
import seaborn as sns

In [ ]:
sns.pairplot(data)
plt.show()

In [ ]:
plt.figure(figsize = (16, 10))
sns.heatmap(data.corr(), annot = True, cmap="YlGnBu")
plt.show()

In [ ]:
from sklearn.preprocessing import Normalizer

In [ ]:
norm=Normalizer()
norm_data=norm.fit_transform(data)
data=norm_data

In [ ]:
data

In [ ]:
x=data[:,:-1]

In [ ]:
x

In [ ]:
x

In [ ]:
y=data[:,-1]

In [ ]:
y

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [ ]:
model=LinearRegression()

In [ ]:
model.fit(x_train,y_train)

In [ ]:
prediction=model.predict(x_test)

In [ ]:
mse=np.mean((prediction-y_test)**2)

In [ ]:
print(mse)

In [ ]:






# Create a figure
fig = plt.figure()

# Plot each target vs features
for i in range(len(y.T)):
    plt.subplot(1, len(y.T), i + 1)
    plt.plot(x, y.T[i])
    plt.title(x.T[i].name)

# Show the figure
plt.show()